DJANGO_SECRET_KEY=%z)lcv4umc%gr@q-mn$qfd8tz3()y4_jv_2#%upjjg7j2azz)2
DEBUG=True
DB_NAME=nome_do_banco
DB_HOST=localhost
DB_PORT=27017
PORTAL_DB_PATH=/caminho/para/portal.db
CSRF_TRUSTED_ORIGINS=localhost
